/*------------------------------------*\
$BLOK SINGLE
\*------------------------------------*/
/*SINGLE EMPLEO*/
.block--single {
    @include respond-to(tablet) {
        max-width: 650px;
    }
    @include respond-to(desktop) {
        padding: 0 0 80px;
    }
    .block__title {
        h2 {
            @include less-than(tablet) {
                @include font-size(20px);
                line-height: cr(24px);
            }
        }
    }
    .block__image {
        width: 230px;
        height: 230px;
        margin: auto;
        border-radius: 115px;
        overflow: hidden;
        margin-bottom: 30px;
        img {
            width: 100%;
            height: 100%;
        }
    }/*.block__image*/
    .content {
        text-align: left;
        padding-bottom: 40px;
        img {
            width: auto;
            max-width: 100%;
            border: 1px solid #c2c2c2;
        }
    }
}/*.block--single*/