/*------------------------------------*\
$INSTITUCIONES
\*------------------------------------*/
/*paginacion*/
.pagination {
    margin: auto;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    .pagination__item {
        display: inline-block;
        a {
            border-radius: 5px;
            width: 28px;
            height: 28px;
            @include font-size(14px);
            line-height: cr(26px);
            text-align: center;
            transition: all 300ms;
            cursor: pointer;
            margin: 0 4px;
            color: $gray;
            display: block;
            &:hover {
                background: #5F7C8A;
                color: white;    
            }
            &.current {
                border: 1px solid #5F7C8A;
                color: $principal;
                &:hover {
                    color: white;
                }
            }
        }
    }/*.pagination__item*/
}/*.pagination*/