/*------------------------------------*\
$SMALL ITEMS
\*------------------------------------*/
/*Small Items*/
.small-items {
    clear: both;
    margin: 25px 0 0 0;
    display: none;
    @include respond-to(desktop) {
        display: block;
    }
    .small-items__item {
        width: 100%;
        position: relative;
        min-height: 150px;
        padding: 25px 0;
        border-bottom: 1px solid $gray;
        clear: both;
        display: block;
        .small-items__item__image {
            position: absolute;
            top: 25px;
            left: 0;
            width: 100px;
            height: 100px;
            @include respond-to(tablet) {
                width: 135px;
            }
            img {
                width: 100%;
            }
        }/*.small-items__item__image*/
        .small-items__item__text {
            padding-left: 120px;
            @include respond-to(tablet) {
                padding-left: 155px;
            }
        }/*.small-items__item__text*/
        .small-items__item__title {
            color: $principal;
            display: block;
            font-weight: bold;
            font-family: 'Abel', sans-serif;
            letter-spacing: 0.8px;
        }/*.small-items__item__title*/
        .small-items__item__days {
            display: inline-block;
            padding: 0 15px;
            height: 26px;
            line-height: cr(26px);
            @include font-size(14px);
            color: white;
            margin-bottom: 10px;
        }/*.small-items__item__days*/
    }/*.small-items__item*/
}/*.small-items*/
.related-list {

    .small-items {
        display: flex;
        flex-flow: row wrap;
        margin: 0;
        max-width: 1000px;
        margin: auto;
        position: relative;
        z-index: $level2;
        .small-items__item__content {
            @include respond-to(tablet) {
                width: 50%;
            }
            &:nth-child(2) {
                .small-items__item {
                    border-bottom: none;
                }
            }
            &.small-items__item--block {
                width: 100%;
                max-width: 750px;
                margin: auto;
                .small-items__item {
                    width: 100%;
                    min-height: 140px;
                    @include respond-to(tablet) {
                        min-height: 190px;
                        padding: 25px 0;
                        border-bottom: 1px solid $gray;
                    }
                    .small-items__item__image {
                        @include less-than(tablet) {
                            position: relative;
                            display: block;
                            margin: auto;
                            top: auto;
                            left: auto;
                            margin-bottom: 15px;
                        }
                        @include respond-to(tablet) {
                            top: 25px;
                        }
                        @include respond-to(desktop) {
                            left: 0;
                        }
                    }   
                    .small-items__item__text {
                        @include less-than(tablet) {
                            padding-left: 0;
                        }    
                        @include respond-to(tablet) {
                            padding-left: 175px;
                        }
                    }    
                    .small-items__item__title {
                        color: $principal;
                        font-weight: bold;
                        margin-bottom: 15px;
                    }
                    .small-items__item__desc {
                        color: $secundario;
                    }
                }
            }/*&.small-items__item--block*/
        }
        .small-items__item {
            @include respond-to(tablet) {
                border-bottom: none;
                padding: 0 15px;
            }
            @include respond-to(desktop) {
                padding: 0 50px;
            }
            &.small-items__item--rounded {
                .small-items__item__image {
                    width: 130px;
                    height: 130px;
                    border-radius: 70px;
                    border: 2px solid $gray;
                    overflow: hidden;
                    @include respond-to(tablet) {
                        width: 140px;
                        height: 140px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }    
            }/*&.small-items__item--rounded*/
            .small-items__item__image {
                @include respond-to(tablet) {
                    left: 15px;
                    top: 0;
                }
                @include respond-to(desktop) {
                    left: 50px;
                }
            }
            .small-items__item__title {
                color: white;
                font-family: 'Abel', sans-serif;
                letter-spacing: 0.8px;
                @include font-size(20px);
                line-height: cr(24px);
                transition: all 300ms;
            }
            .small-items__item__desc {
                @include font-size(14px);
                line-height: cr(22px);
            }
        }/*.small-items__item*/
    }
}